html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body{
	background-color: rgb(32, 32, 32);
  fill: rgb(32,32,32);
  display: table-cell;
  horizontal-align: middle;
  max-width: 700px;
}
.border_rect{
  stroke: rgb(253, 188, 63);
  stroke-width: 5px;
}
.scatter_rect, .test_rect_bg, .border_rect_inner{
  stroke: rgb(32, 32, 32);
  stroke-width: 0.5px;
  fill: none;
}

.map_bg, .info_box_border, .scatter_rect_inner{
  stroke: rgb(200,200,200);
  stroke-width: 0.75px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map_dot_not_zoomed{
  pointer-events: none;
}
.map_dot_zoomed:hover{
    opacity: 1;
    stroke: rgb(200,200,200);
    stroke-width: 30px;
}
/* INFO BOX */
.info text{
  text-anchor: middle;
  font-family: Arial;
  font-size: 14px;
  fill: rgb(200,200,200);
  font-weight: normal;
}
text.info_title{
  font-size: 16px;
  font-weight: bold;
}
text.line0 {
  font-size: 15px;
  font-weight: bold;
}
text.line2 {
  font-size: 15px;
  font-weight: bold;
}
text.line4 {
  font-size: 15px;
  font-weight: bold;
}
text.line5 {
  font-size: 15px;
  font-weight: bold;
}
text.line7 {
  font-size: 15px;
  font-weight: bold;
}
text.line9 {
  font-size: 15px;
  font-weight: bold;
}
/*STYLE 1*/
.boro_path{
  fill: rgb(32, 41, 58);
	stroke: rgb(168,125,42);
  stroke-width: 0.5px;
}
.boro_path:hover{
  stroke-width: 1px;
}
.map_dot{
  fill: rgb(253, 188, 63);
}

/* SCATTER STYLING */
.axis text{
  fill: rgb(200,200,200);
  font-weight: normal;
  font-size: 12px;
}
.axis line, .axis path{
  stroke: rgb(200,200,200);
  stroke-width: 0.5px;
  shape-rendering: crispEdges;
}

.label text{
  font-family: Arial;
  fill: rgb(200,200,200);
  font-weight: normal;
  font-size: 16px;
}
.scatter_title text, .map_title text{
  font-family: Arial;
  fill: rgb(200,200,200);
  font-weight: bold;
}
.scatter_dot{
  stroke: rgb(32, 41, 58);
  stroke-width: 1.5px;
  fill: rgb(253, 188, 63);
}
.scatter_dot:hover{
  stroke: rgb(200,200,200);
  stroke-width: 3px;
}
/* END OF SCATTER STYLING */

/*MENU STYLING*/
.navbar {
    overflow: hidden;
    background-color: rgb(51, 51, 51);
    font-family: Arial;
}

.navbar a, .dropdown, .dropbtn{
  font-size: 13px;
  color: rgb(200,200,200);
}

.navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: rgb(252, 187, 62);
    color: rgb(32, 32, 32);
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(230,230,230);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(200,200,200);
}
.dropdown-content .drop_selected{
    font-weight: bold;
    background-color: rgb(200,200,200);
}

.show_x, .show_y {
    display: block;
}
/*END OF MENU STYLING*/

/*ZOOM STYLING*/
  .zoom_hl {
    stroke-width: 1px;
  }
  .zoom_fade {
    fill-opacity: 0.2;
    stroke-opacity: 0.8;
  }
/*ZOOM STYLING END*/

/*
main: bg: rgb(32, 32, 32)
			hl: rgb(255, 195, 40)


alternate: bg: rgb()
						fill: rgb(32, 41, 58)
						hl: rgb(253, 188, 63)
*/

/*FANCY STUFF

*/
