html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body{
	background-color: rgb(32, 32, 32);
  display: table-cell;
  horizontal-align: middle;
}
.boro_bg {
	fill: rgb(32,32,32);
}
.boro_path{
	fill: rgb(253, 188, 63);
	stroke: rgb(20,22,25);
}
.test_circle{
	fill: rgb(32, 41, 58);
}

/*
main: bg: rgb(32, 32, 32)
			hl: rgb(255, 195, 40)


alternate: bg: rgb()
						fill: rgb(32, 41, 58)
						hl: rgb(253, 188, 63)
