body{
	background-color: rgb(32, 32, 32);
}

.boro_bg {
	fill: rgb(32,32,32);
}
.boro_path{
	fill: rgb(32, 41, 58);
	stroke: rgb(20,22,25);
}
.test_circle{
	fill: rgb(253, 188, 63);
}

/*
main: bg: rgb(32, 32, 32)
			hl: rgb(255, 195, 40)


alternate: bg: rgb()
						fill: rgb(32, 41, 58)
						hl: rgb(253, 188, 63)
